#header {
    display: flex;
    justify-content: space-between;
}
#footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row; 
    background-color: lightgrey;
  width: 1870px;
  padding: 20px;
  margin: 375px auto 20px;
}
main {
    display:flex; 
    justify-content: center;
    align-items: center;
    margin: 230px auto 200px;
} 
#search-bar { 
    display:flex; 
    justify-content: center;
    align-items: center;
}
input {
    all: unset;
    font: 16px system-ui;
    color: gray;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    color: black;
    opacity: 0.7; 
  }
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: gray; 
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }