#header {
    display: flex;
    justify-content: space-between;
}
#footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row; 
    background-color: lightgrey;
  width: 1870px;
  padding: 20px;
  margin: 375px auto 20px;
}
main {
    display:flex; 
    justify-content: center;
    align-items: center;
    margin: 230px auto 200px;
} 
  