#header {
    display: flex;
    justify-content: space-between;
}
#footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row; 
    background-color: lightgrey;
  width: 1875px;
  padding: 20px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
